.tag_button {
  padding: 0.5em 0.7em;
  border: none;
  background-color: var(--sub-color-deep-gray);
  color: var(--default-text-color);
  cursor: pointer;
  font-size: 0.8em;
  min-width: 4em;
  text-align: center;
  display: inline-block;
}

.tag_button_select {
  padding: 0.5em 0.7em;
  border: none;
  background-color: var(--point-color-light-yellow);
  color: var(--sub-color-deep-gray);
  cursor: pointer;
  font-size: 0.8em;
  min-width: 4em;
  text-align: center;
  display: inline-block;
}

.tag_button:hover {
  opacity: 0.7;
}
