.tag_button {
  padding: 0.5em 0.7em;
  margin-right: 0.7em;
  margin-bottom: 0.8em;
  margin-top: 0.8em;
  border: none;
  border-radius: 8px;

  background-color: var(--background2);
  color: var(--font-color);
  cursor: pointer;
  font-size: 0.8em;
}

.tag_button:last-child {
  margin-right: 0;
}

.tag_button:hover {
  opacity: 0.7;
  transition: 0.2s;
}
