.post_icon {
  font-size: 1em;
  margin-right: 0.2em;
}
.post_title {
  font-size: 1em;
  font-weight: 400;
  color: var(--default-text-color);
  margin: 0.2em 0;
}

.post_list_item {
  list-style: none;
  padding: 0.66em 0;
  border-bottom: 0.5px solid var(--sub-color-deep-gray);
}

.post_list_item:first-child {
  padding-top: 0;
}

.post_list_item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.summary {
  font-size: 0.8em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  color: var(--sub-color-middle-gray);
}

.info {
  font-size: 0.8em;
}

.info span {
  color: var(--sub-color-middle-gray);
  padding: 0 0.5em;
  border-left: 1px solid var(--sub-color-deep-gray);
}

.info span:first-child {
  padding-left: 0;
  border: none;
}
