:root {
  --background: #222831;
  --background2: #393e46;
  --accent-low: #393e46;
  --highlight: #00adb5;
  --font-color: #eeeeee;

  --width: 768px;

  --font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
    'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

[data-theme='Light'] {
  --background: #f1efef;
  --background2: #ebe4d1;
  --accent-low: #00adb5;
  --highlight: #7d7c7c;
  --font-color: #191717;
}

* {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

body {
  max-width: var(--width);
  background-color: var(--background);
  color: var(--font-color);
  margin: auto;
  padding: 1em;
  line-height: 1.6;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.67em 0;
  color: var(--font-color);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

hr {
  margin: 1em 0;
  border: 1px solid var(--accent-low);
}

p {
  margin: 1em 0;
}

p:last-child {
  margin-bottom: 0;
}

p:first-child {
  margin-top: 0;
}

a {
  color: var(--highlight);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 1em 0;
}

li {
  list-style-position: inside;
}

code {
  background-color: var(--background2);
  border-radius: 2px;
  padding: 2px 4px;
}

pre {
  overflow: auto;
  background-color: var(--background2);
  padding: 1em;
  border-radius: 8px;
  margin: 1em 0;
}

pre code {
  background-color: inherit;
  padding: 0;
  border-radius: 0;
}

blockquote {
  background-color: var(--background2);
  border-left: 4px solid var(--highlight);
  padding: 1em 1em 1em 2em;
  margin: 1em 0;
}

img {
  max-width: 100%;
  margin: 1em 0;
}

.task-list-item {
  list-style: none;
}
