:root {
  --background: #65451f;
  --accent-low: #765827;
  --accent-medium: #c8ae7d;
  --accent-high: #eac696;

  --width: 720px;

  --font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
    'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  padding: 0;
  margin: 0;
}

html {
  max-width: 100vw;
  background-color: var(--background);
  color: var(--accent-medium);
}

body {
  margin: auto;
  max-width: var(--width);
  padding: 1em;
  line-height: 1.6;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.67em 0;
  color: var(--accent-high);
}

hr {
  margin: 1em 0;
  border: 1px solid var(--accent-low);
}

p {
  margin: 1em 0;
}

p:last-child {
  margin-bottom: 0;
}

p:first-child {
  margin-top: 0;
}

a {
  color: var(--accent-medium);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 1em 0;
}

li {
  list-style-position: inside;
}

code {
  background-color: var(--accent-low);
}

blockquote {
  background-color: var(--accent-low);
  border-left: 3px solid var(--accent-high);
  padding: 1em;
}

img {
  max-width: 70%;
  max-height: 70%;
}

.task-list-item {
  list-style: none;
}
