:root {
  --dark-background: #222831;
  --dark-accent-low: #393e46;
  --dark-highlight: #00adb5;
  --dark-font-color: #eeeeee;

  --width: 768px;

  --font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
    'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

html {
  max-width: 100vw;
  background-color: var(--dark-background);
  color: var(--dark-font-color);
}

body {
  margin: auto;
  max-width: var(--width);
  padding: 1em;
  line-height: 1.6;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.67em 0;
  color: var(--dark-font-color);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

hr {
  margin: 1em 0;
  border: 1px solid var(--dark-accent-low);
}

p {
  margin: 1em 0;
}

p:last-child {
  margin-bottom: 0;
}

p:first-child {
  margin-top: 0;
}

a {
  color: var(--dark-highlight);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 1em 0;
}

li {
  list-style-position: inside;
}

code {
  background-color: var(--dark-accent-low);
}

blockquote {
  background-color: var(--dark-accent-low);
  border-left: 3px solid var(--dark-highlight);
  padding: 1em;
}

img {
  max-width: 70%;
  max-height: 70%;
}

.task-list-item {
  list-style: none;
}
