.category {
  color: var(--highlight);
}

.info {
  margin-top: 1em;
  font-size: 0.9em;
}

.info span {
  color: var(--sub-color-middle-gray);
  padding: 0 0.5em;
  border-left: 1px solid var(--sub-color-deep-gray);
}

.info span:first-child {
  padding-left: 0;
  border: none;
}

.time {
  opacity: 0.7;
}

.author_name {
  opacity: 0.7;
}

.divider {
  color: var(--accent-low);
  margin: 0px 0.5em;
}
